<div class="d-flex justify-content-end align-items-center">
    <div class="top-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
    <div class="top-icon"><i class="fa-solid fa-messages"></i></div>
    <div class="top-icon"><i class="fa-solid fa-bell"></i></div>
    <div class="h-spacer"></div>
    <div class="dropdown">
        <button class="btn btn-transparent " type="button" id="my-account-list" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="images/hans-profile-img.jpg" class="rounded-circle me-3" height="46" width="46" />
            Hans Mattin-Lassei
            <i class="fa-solid fa-chevron-down ms-2"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="my-account-list">
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>